@model SuperHerosProject.Models.Superheros

@{
    ViewBag.Title = "Read";
}

<h2>Read</h2>

<div>
    <h4>Superheros</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.alterEgo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.alterEgo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.primarySuperheroAbility)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.primarySuperheroAbility)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.secondarySuperHeroAbility)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.secondarySuperHeroAbility)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.catchPhrase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.catchPhrase)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
